@import "tailwindcss";

@theme inline {
  --color-darkRed: #8c1c13;
  --color-red: #bf4342;
  --color-lightBeige: #f8f3ed;
  --color-beige: #e7d7c1;
  --color-darkBeige: #a78a7f;
  --color-brown: #735751;
  --font-sans: var(--font-hubot-sans);
  --font-mona: var(--font-mona-sans);
}

body {
  font-family: var(--font-hubot-sans), Arial, Helvetica, sans-serif;
}
